#wrapper {
  width: 95%;
  margin: 0px auto;
}
#main {
  background-color: #1880CA;
}
#main ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#main ul li {
  display: inline-block;
}
#main ul li a {
  color: #9AC617;
  display: block;
  font-size: 1.4em;
  padding: 10px;
  text-decoration: none;
}
#main ul li a:hover {
  text-decoration: underline;
}
