#wrapper {
  width: 960px;
  margin: 0px auto;
}
#wrapper header {
  background-image: linear-gradient(190deg, #f3f311, #ffff05, #8f8f75, #fdfdd3, #000000);
  padding: 20px;
}
#wrapper header h1 {
  color: #F00;
  font: "Times New Roman";
  font-size: 2rem;
}
#wrapper p {
  color: #333;
  font: Verdana;
  font-size: 1rem;
}
#wrapper nav {
  background-color: #1B80CA;
  border: 3px solid #F00;
}
#wrapper nav ul {
  margin: 0px;
  padding: 0px;
}
#wrapper nav ul li {
  display: inline-block;
}
#wrapper nav ul li a {
  color: #9AC617;
  display: block;
  font-size: 1.3rem;
  text-decoration: none;
}
#wrapper nav ul li a:hover {
  text-decoration: underline;
}
