#wrapper {
  width: 960px;
  margin: 0px auto;
}
body {
  background-color: rgba(64, 158, 77, 0.932);
}
header {
  background-color: red;
  padding: 20px;
  margin: 10px 0px;
  -webkit-border-radius: 40px 40px 40px 40px;
  -moz-border-radius: 40px 40px 40px 40px;
  -ms-border-radius: 40px 40px 40px 40px;
  -o-border-radius: 40px 40px 40px 40px;
  border-radius: 40px 40px 40px 40px;
}
section {
  background-color: #f8f8f8;
  padding: 20px;
  margin: 10px 0px;
  -webkit-border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  -ms-border-radius: 50px 50px 50px 50px;
  -o-border-radius: 50px 50px 50px 50px;
  border-radius: 50px 50px 50px 50px;
}
footer {
  background-color: lightgreen;
  padding: 20px;
  margin: 10px 0px;
  -webkit-border-radius: 0px 50px 0px 30px;
  -moz-border-radius: 0px 50px 0px 30px;
  -ms-border-radius: 0px 50px 0px 30px;
  -o-border-radius: 0px 50px 0px 30px;
  border-radius: 0px 50px 0px 30px;
}
